.container{
  margin-top: 100px;
  text-align: center;
}
h1{
  color: rgb(61, 144, 144);
  font-size: 2.5rem;
  
 }
 h2 {
  font-size: 3rem;
  margin: 20px 0;
  color: rgb(110, 110, 121);
}
button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
}